html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.hidden {
    display: none !important;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 1s ease;
}

.deck .card.open {
    transition: background-color 1s ease;
    background-color: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background-color: #02ccba;
    font-size: 33px;
}

.deck .card.incorrect{
    transform: rotateY(180deg);
    cursor: default;
    background-color: rgb(241, 78, 78);
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
*   Styles for completion page
*/

.completion-page {
    text-align: center;
    position: absolute;
    top: 35%;
}

.completion-page button {
    background-color: rgb(18, 155, 18);
    font-size: 21px;
    border: 1px solid green;
    border-radius: 3px;
    color: white;
}

.text-green {
    color: rgb(33, 201, 33);
}

.text-white {
    color: #ffffff;
}

.text-large {
    font-size: 33px;
}

/*
    Clock styles
*/

.clock {
    float: left;
}

.left {
    float: left;
}

.start {
    text-align: center;
    position: relative;
    top: 25%;
    left:40%;
}

.start button {
    background-color: rgb(18, 155, 18);
    font-size: 21px;
    border: 1px solid green;
    border-radius: 3px;
    color: white;
}

@media screen and (max-width:660px){
    .deck {
        width: 90%;
        height: 500px;
        padding-bottom: 17px;
      }
    
      .deck .card {
        height: 99px;
        width: 111px;
        margin-bottom: 17px;
      }
    
      .score-panel {
        max-width: 70%;
        padding-bottom: 0;
        display: block;
        text-align: center;
        line-height: 1.7em;
      }
}

@media screen and (max-width:570px){
    .deck {
        width: 345px;
        height: 333px;
    }

    .deck .card {
        height: 61px;
        width: 61px;
        margin-bottom: 10px;
    }

    .score-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:425px){
    .deck {
        width: 100%;
        height: 70%;
    }

    .deck .card {
        height: 61px;
        width: 22%;
        margin-bottom: 10px;
    }

    .score-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}





